.header {
    background: black;
    color: white;
    a {
        color: white;
        text-decoration: none;
        padding: 3%;
    }
    .header-block {
        
        .logo {
            padding-top: 2%;
        }
        .options {
            color: white;
            text-align: right;
            padding-top: 4.5%;
            padding-right: 3%;
        }
        .seach {
            
            background: #272727;
            text-align: left;
            height: 80px;
            color: #3f3f3f;
            bottom: 0px;
            i {
                padding-left: 5px;
                top: 30px;
            }
            input {
                background: transparent;
                position: absolute;
                top: 35%;
            }
        }
        .cart {
            text-align: center;
            padding-top: 4.5%;
        }
        .user-menu {
            padding-top: 2.5%;
        }
    }
}

.editors-choice-main {
    background-image: url(assets/images/images-chart/ed.png);
    color: white;
    .editors-choice-title {
        padding-top: 8%;
    }
    .editors-choice-block {
        padding-bottom: 8%;
        text-align: center;
        .editors-choice-icon {
            width: 165px;
            height: 165px;
            background: black;
            margin: 15% 3% 0% 0%;
        }
        .editors-choice-icon:last-child {
            margin: 15% 0% 0% 0%;
        }
        a {
            height: 100%;
            text-decoration: none;
        }
        .singer a {
            color: white;
        }
        .song a {
            color: #3498db;
            text-align: center;
        }
    }
}

.sorting-block {
    color: white;
    background: #212121;
    select {
        background-color: rgba(255, 255, 255, 0);
        border: 0.1px solid white;
        color: #EAE1E1;       
    }
    .top {
        select {
            width: 100%;
            padding: 3.2%;
            margin-top: 5.5%;
        }
    }
    .sort-items {
        text-align: right;
        select {
            width: 25%;
            margin: 2% 0% 2% 1%;
            padding: 1%;
        }
    }
}

.chart-main {
    margin-top: 5%;
    margin-bottom: 5%;
    .track-item-menu {
        background: #f0f0f0;
        margin-bottom: 10px;
        .number-track {
            background: #e74c3c;
            height: 80px;
            text-align: center;
        }
        .icon-track {
            background-image: url(assets/images/images-chart/trackicon.png);
            height: 80px;
            img {
                transform: translate(+40%, 30%);
            }
        }
        .name-track {
            padding-left: 20px;
            padding-top: 20px;
            a {
                text-decoration: none;
            }
            .sing a {
                color: black;
            }
            .song a {
                color: #3498db;
            }
        }
    }
    .options-track {
        transform: translate(+15%, 50%);
        .save {
            margin-right: 10px;
            background: #3498db;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }
        .favorite {
            margin-right: 10px;
            background: #3498db;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }
        .add-to-card {
            margin-right: 10px;
            background: #3498db;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            a {
                color: white;
                text-decoration: none;
            }
        }
        .information {
            margin-right: 10px;
            background: #3498db;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }
    }
    .loadmore {
        text-align: center;
        button {
            background: #3498db;
            color: white;
            padding: 1% 10%;
        }
    }
}

.spotlight-artist-main {
    background: #3498db;
    color: white;
    .spotlight-artist {
        .spotlight-title {
            height: 100%;
            .title-sp {
                margin-top: 50%;
            }
        }
        .spotlight-icon {
            background: #060505;
            width: 160px;
            height: 160px;
            border-radius: 80px;
            margin-top: 8%;
            margin-bottom: 8%;
            margin-right: 3%;
            text-align: left;
        }
        .spotlight-icon:last-child {
            margin-right: 0px;
        }
    }
}

.player {
    .player-track {
        .singer {
            color: #3498db;
            padding-top: 10.5%;
        }
    }
    .player-btn {
        padding-top: 2.5%;
        text-align: center;
        background: transparent;
        button {
            background: #f0f0f0;
        }
        .btn-play {
            padding-top: -1%;
        }
    }
    .player-options {
        padding-top: 2.5%;
        text-align: right;
        button {
            margin-left: 10px;
            background: #3498db;
            padding: 10px;
            text-align: center;
            color: white;
        }
    }
}

.footer {
    background: black;
    color: white;
    .container {
        padding: 3% 1% 2% 0;
        img {
            padding-right: 1%;
            padding-bottom: 2%;
        }
        .finish {
            text-align: center;
        }
        a {
            text-decoration: none;
            color: white;
        }
        div {
            padding-bottom: 2%;
        }
        button {
            background: #3498db;
            width: 35%;
        }
    }
}