.header {
    background: black;
    color: white;
    a{
        color: white;
        text-decoration: none;
        padding: 10px;
     }
    .header-block{
        .logo{
            padding-top: 20px;
        }
       
        .options{
            color: white;
            text-align: right; 
            padding-top: 30px;
            
             }
        .seach{
            background: #272727;
            text-align: left; 
            height: 80px;
            color: #3f3f3f;
            bottom: 0px;
            i{ 
                padding-left: 5px;
                top: 30px;
            }           
            input{
                background: transparent;
                position: absolute;
                top: 30px;  
            }
        }
        .cart{
            text-align: center;
            padding-top: 30px;
        }
        .user-menu{
            padding-top: 15px;
        }
    }
    
}

 