html {
    background: linear-gradient(black 22%, white 22%, white 50%, lightgray 50%, lightgray 70%, blue 70%, blue 85%, black 85%);
}   
body {
    background: linear-gradient(black 34%, white 34%, white 50%, lightgray 50%, lightgray 70%, blue 70%, blue 85%, black 85%);    
    margin: 0px 200px;
}


#currentTrack {
    color: white;
    font-size: 150%;
    width: 33%;
}
#header div {
    display: inline-block;
}
#header #labelB {
    width: 40px;
    height: 40px;
}
#header .headerLinks a {
    color: white;
    border: 0px;
    background: black;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 70%;
    text-align: right;
}
#header .headerLinks {
    text-align: right;
    width: 60%;
}
#header .headerLinks .balance {
    padding: 10px 20px;
    background: blue;
    border: 0px;
    cursor: pointer;
}


#imgWithClouds img{
    height: 60px;
    position: relative;
    margin: 2px 100px;
    width: 750px;
}

#chosenTrack {
    display: inline;
}
#author {
    color: blue;
    margin: 2px 70px;
}
#nameOfTheSong {
    color: white;
    font-size: 150%;
    margin: 2px 70px;
}
#chosenTrack #buttonsForTrack{
    text-align: right;
    margin: 2px 30px;
}
#trackName {
    width: 45%;
    display: inline-block;
}
#buttonsForTrack {
    width: 45%;
    display: inline-block;
}
#buttonsForTrack button {
    border:0px;
    color: white;
    background: blue;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

#trackInfo div {
    display: inline-block;
    margin: 0px 10px;
}
#trackInfo label {
    display: block;
    color: white;
    margin: 0px 5px;
}
#trackInfo button {
    border: blue 1px solid;
    background: black;
    color: blue;
    width: 100%;
    margin: 5px;
}
#genreInfo,
#moodInfo {
    width: 10%;
}
#tagsInfo {
    width: 40%;
}
#tagsInfo button {
    width: 27%;
    margin: 5px;
}



.otherBeats .imgOtherBeats img {
    height: 60px;
    width: 60px;
}